body {

    min-height:100vh;
}


.menu  {

    height:20%;
    border-radius: 5px;
    background-color: rgb(30, 30, 245);
    display: flex;
    justify-content: space-around;
    font-size : 20px;
}

#wall, #profil {
    margin :auto;
    
}

a {

    color :white;
    text-decoration: none;
}

#content_profil {

    height:70%;
    font-size : 20px;
}

#content_wall {
    height: 70%;
    font-size : 20px;

}

#profil_form {

    margin-top : 10px;
}

#profil_form label {
    margin-top: 5px;
    margin-bottom: 5px;
}


#content_wall, #content_profil {

    border-radius : 5px;
    display:none;

}

#articles {
    border-radius : 5px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

#wall_form {

    margin-top : 10px;
    height:35%;
    border-radius : 5px;
    display: flex;
    flex-direction: column;
    justify-content :center ;
    text-align: center;
}

#wall_form input[type="submit"] {
    
        width : 20%;
        margin-top: 1px;
    }

input[type="submit"] {

    display :block;
    margin: auto;
    text-align:center;
    width: 30px;
}

#content_profil label {
    display: flex;
    flex-direction : column;
}

h5, .error, #content_profil input, #file {

    width:30%;
    margin :auto;
    justify-content : center;
    text-align: center;
}

#description {
    resize : none;
    height: 70px;
    width : 40%;
}

.error {
    color: red;
}

#content_profil input {

    border-radius:10px;
}

.article {
    color:rgb(105, 99, 99);
    width: 20%;
    height: 40%;
    margin: 2px;
    background-color:white;
    display:flex;
    flex-direction:column;
}

.article p, .article h4 {
    text-align: center;
}

.article h4 {
    overflow: auto;
    hyphens: auto;
    margin-top:10px;
    margin-bottom :10px;
}

.article span {
    margin-left : 20px;
    cursor:pointer;
    font-weight: bold;
}

.article .content {
    overflow: auto;
    hyphens: auto;
    text-align:center;
    height:50px;
    width:100%;
    margin:0;
}
.image {
    height:100px;
    width:90%;
    text-align : center;
    vertical-align: middle;
    margin:10px;
}

#confirm_profil {
    color: red;
    display: block;
    text-align:center;
}

#error_article {
    color: red;
    display:none;
    text-align: center;
    font-size : 30px;

}


/*TEST POUR LE MENU LATERAL*/
.navigation {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(27, 26, 26);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.navigation a {
    font-size: 20px;
    color: rgb(110, 105, 105);
    display: block;
    transition: 0.3s;
}

.navigation a:hover {
    color: white;
}

ul {
    list-style-type: none;
}
.navigation .close:hover:after {

    text-align:center;
    font-size: 25px;
    content:" Fermer le menu \2630 ";
}

.navigation .close {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}

#params {

    height:10%;
    font-size : 30px;
    cursor: pointer;
}

#color-rect-menu, #color-rect-fond  {
    width:180px;
    height:100px;
}

select {
    width: 200px;
    text-align:center;
    font-size: 15px;
}

#container-menu span, #container-fond span, #container-police span {

    vertical-align:top;
    display:inline-block;
    color: white;

}



